<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheet/customstyle.css" rel="stylesheet">
    <script src="../script/myscript.js"></script>
    <script src="../script/langTranslation.js"></script>
    <!-- bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- js CDN(popper) for dropdowns, popovers,tooltips -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

</head>
<body style="background-image: linear-gradient(to right, rgb(182, 201, 255), rgb(17, 96, 17) , rgb(169, 128, 245));">

<div id="navbar"></div>

<script>

document.addEventListener("DOMContentLoaded", function () {
  fetch("navbar.html")
    .then(res => res.text())
    .then(data => {
      document.getElementById("navbar").innerHTML = data;
    });
});

</script>





    <div class="container-fluid set-background"  style="background-image:  linear-gradient( rgba(0, 0, 0, 0.584), rgba(0, 0, 0, 0.4)),   url('../images/images-final/company-Building.jpeg')">
        <h1 class="img-caption">All Products</h1>
    </div>

    <h3 id="cart-count"></h3>
    <h3 id="total"></h3>


    <h3 class="btn btn-success"><a class="text-light" href="./cart.html">Go to Cart Items:</a></span> </h3>


    <div class="container-fluid px-1 px-md-4">
        <div class="row">
            <div class="product-card">
                <div>
                    <a href="./products/refinded-wheat-flour.html">
                        <img class="w-100 " src="../images/images-final/refined-wheat-flour.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('refined-wheat-flour.png', 250)" >Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wheat-flour.html">
                        <img class=" w-100 " src="../images/images-final/wheat-flour.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('wheat-flour.png', 350)" >Add to Cart</div>
                </div>
                
                <div>
                    <a href="./products/roasted-sooji.html">
                        <img class=" w-100 " src="../images/images-final/roasted-sooji.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('roasted-sooji.png', 350)">Add to Cart</div>
                </div>                
                <div>
                    <a href="./products/whole-wheat-flour.html">
                        <img class=" w-100 " src="../images/images-final/whole-wheat-flour.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('whole-wheat-flour.png', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/samba-wheat-rava.html">
                        <img class=" w-100 " src="../images/images-final/samba-wheat-rava.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('samba-wheat-rava.png', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/roasted-semia.html">
                        <img class=" w-100 " src="../images/images-final/roasted-semia.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('roasted-semia.png', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/ragi-semia.html">
                        <img class=" w-100 " src="../images/images-final/ragi-semia.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('ragi-semia.png', 350)">Add to Cart</div>
                </div>                
                <div>
                    <a href="./products/rice-flour.html">
                        <img class=" w-100 " src="../images/images-final/rice-flour.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('rice-flour.png', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/ragi-flour.html">
                        <img class=" w-100 " src="../images/images-final/ragi-flour.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('ragi-flour.png', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/ragi-flour.html">
                        <img class=" w-100 " src="../images/images-final/ragi-flour.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('ragi-flour.png', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/kozh-idiy-flour.html">
                        <img class=" w-100 " src="../images/images-final/kozhukattai-idiyappam-flour.png">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('kozhukattai-idiyappam-flour.png', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/gram-flour.html">
                        <img class=" w-100 " src="../images/images-final/gram-flour.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('gram-flour.jpeg', 350)">Add to Cart</div>
                </div>                
                <div>
                    <a href="./products/bajji-bonda-powder.html">
                        <img class=" w-100 " src="../images/images-final/bajji-bonda-powder.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('bajji-bonda-powder.jpeg', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/asafoetida-powder.html">
                        <img class=" w-100 " src="../images/images-final/asafoetida-powder.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('asafoetida-powder.jpeg', 350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/asafoetida-powder-cake.html">
                        <img class=" w-100 " src="../images/images-final/asafoetida-cake.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('asafoetida-cake.jpeg', 550)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/atta.html">
                        <img class=" w-100 " src="../images/images-final/atta-10kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('atta-10kg.jpeg', 1350)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/atta.html">
                        <img class=" w-100 " src="../images/images-final/atta-30kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('atta-30kg.jpeg', 2250)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/atta.html">
                        <img class=" w-100 " src="../images/images-final/atta-50kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('atta-50kg.jpeg', 3550)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/maida.html">
                        <img class=" w-100 " src="../images/images-final/maida-10kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('maida-10kg.jpeg', 1350)">Add to Cart</div>
                </div>                  
                <div>
                    <a href="./products/wholesale/maida.html">
                        <img class=" w-100 " src="../images/images-final/maida-30kg.jpeg">
                    </a>  
                    <div class="pro-cart-caption" onclick="addToCart('maida-30kg.jpeg', 2000)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/maida.html">
                        <img class=" w-100 " src="../images/images-final/maida-50kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('maida-50kg.jpeg', 5050)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/sooji.html">
                        <img class=" w-100 " src="../images/images-final/sooji-10kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('sooji-10kg.jpeg', 400)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/sooji.html">
                        <img class=" w-100 " src="../images/images-final/sooji-30kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('sooji-30kg.jpeg', 700)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/sooji.html">
                        <img class=" w-100 " src="../images/images-final/sooji-50kg.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('sooji-50kg.jpeg', 1050)">Add to Cart</div>
                </div>
                <div>
                    <a href="./products/wholesale/bran.html">
                        <img class=" w-100 " src="../images/images-final/rough-bran.jpeg">
                    </a>
                    <div class="pro-cart-caption" onclick="addToCart('rough-bran.jpeg', 2500)">Add to Cart</div>
                </div>

            </div>

        </div>
    </div>
</body>