<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheet/customstyle.css" rel="stylesheet">
    <!-- bootstrap stylesheet -->
    <script src="../script/myscript.js"></script>
 
    <!-- for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- js CDN(popper) for dropdowns, popovers,tooltips -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <title>Career</title>
    <style>
        .recipe {
            /* display : visible; */
            /* position:relative; */
        } 
    </style>
</head>
<body style="background-image: none;">

<div id="navbar"></div>

<script>

document.addEventListener("DOMContentLoaded", function () {
  fetch("navbar.html")
    .then(res => res.text())
    .then(data => {
      document.getElementById("navbar").innerHTML = data;
    });
});

</script>



    <div class="set-background" style="background-image:  linear-gradient( rgba(0, 0, 0, 0.584), rgba(0, 0, 0, 0.4)),   url('../images/images-final/company-Building.jpeg')">
        <h1 class="display-1 img-caption">Recipes</h1>
    </div>

    <div class="container-fluid mt-0 mt-sm-5 recipe-main-container" >
        <div class="d-flex justify-content-center recipe-btns">
            <a  onclick="showCard('all')">All</a>
            <a  onclick="showCard('maida')">Refined Wheat Flour (Maida)</a>
            <a  onclick="showCard('rava')">Suji (Rava)</a>
            <a  onclick="showCard('atta')">Wheat Flour (Atta) (Chakki Milled)</a>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="recipe-container">      <!--  style="flex-wrap: wrap;"  -->
                    <div class="recipe-container-item">
                        <a href="#./recipes/paratha.html" style="position: relative;">
                            <div class="recipe maida" onclick="Recipe('paratha')">
                                <img class="w-100" src="../images/images-final/recipes/paratha.jpeg" height="180" style="z-index: 0;">
                                <p class="rec-article">Add to Cart</p>
                                <p class="p-1 text-center">Malabar Paratha Recipe</p>
                            </div>
                        </a>
                    </div>
                    <div class="recipe-container-item">
                        <a href="#./recipes/chola-puri.html">
                        <div class="  recipe maida" onclick="Recipe('chola-puri')">
                            <img class="w-100" src="../images/images-final/recipes/chola-puri.jpeg" height="180">
                            <p class="p-1 text-center">Chola Puri</p>
                        </div>
                        </a>
                    </div>

                    <div class="recipe-container-item">
                        <a href="./recipes/garlic-naan.html">
                            <div class="  recipe maida">
                                <img class="w-100" src="../images/images-final/recipes/garlic-naan.jpeg" height="180">
                                <p class="p-1 text-center">Garlic Naan</p>
                            </div>
                        </a>
                    </div>

                    <div class="recipe-container-item">
                        <a href="./recipes/chocolate-mug-cake.html">
                            <div class="  recipe maida">
                                <img class="w-100" src="../images/images-final/recipes/chocolate-mug-cake.jpeg" height="180">
                                <p class="p-1 text-center">Chocolate Mug Cake</p>
                            </div>
                        </a>
                    </div>
                    <div class="recipe-container-item">
                        <a href="./recipes/wheat-sponge-cake.html">
                            <div class="  recipe atta">
                                <img class="w-100" src="../images/images-final/recipes/wheat-sponge-cake.png" height="180">
                                <p class="p-1 text-center">Wheat Sponge Cake</p>
                            </div>
                        </a>
                    </div>

                    <div class="recipe-container-item">
                        <a href="./recipes/wheat-halwa.html">
                            <div class="  recipe atta">
                                <img class="w-100" src="../images/images-final/recipes/whear-halva.png" height="180">
                                <p class="p-1 text-center">Wheat Halwa</p>
                            </div>
                        </a>
                    </div>
                    <div class="recipe-container-item">
                        <a href="./recipes/chappatie.html">
                            <div class="  recipe atta">
                                <img class="w-100" src="../images/images-final/recipes/Chappatie.png" height="180">
                                <p class="p-1 text-center">Chappatie</p>
                            </div>
                        </a>
                    </div>
                    <div class="recipe-container-item">
                        <a href="./recipes/kuli-paniyaram.html">
                            <div class="  recipe rava">
                                <img class="w-100" src="../images/images-final/recipes/kuli-paniyaram.png" height="180">
                                <p class="p-1 text-center">Kuli paniyaram</p>
                            </div>
                        </a>
                    </div>

                    <div class="recipe-container-item">
                        <a href="./recipes/rava-luddu.html">
                            <div class=" recipe rava">
                                <img class="w-100" src="../images/images-final/recipes/rava-luddu.png" height="180">
                                <p class="p-1 text-center">Rava Luddu</p>
                            </div>
                        </a>
                    </div>
                    <div class="recipe-container-item">
                        <a href="./recipes/rava-dosa.html">
                            <div class="  recipe rava">
                                <img class="w-100" src="../images/images-final/recipes/rava-dosa.png" height="180">
                                <p class="p-1 text-center">Rava Dosa</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <p class="fs-5 mt-4">More Recipes Articles</p>
        <div class="row">
            <div class="d-flex align-items-center">
                <button class="" id="LSbtn">◀</button>          <!-- onclick="scrollLeftSide()" use this when don't want place js code outside DOM method -->
                <div class="carousel custom-carousel slide" id="CustomCaroId">
<!--                    use below method only when using bootstrap carousel concept
                    <div class="carousel-item active">
                        <div class="recipe-card">Card first</div>
                    </div>
                    <div class="carousel-item ">
                        <div class="recipe-card">************</div>
                    </div>                      -->
                    <!-- <div class="recipe-card">Card 1</div>
                    <div class="recipe-card">Card 2</div> -->
                    <img class="recipe-card" src="../images/images-final/recipes/whear-halva.png">
                    <img class="recipe-card" src="../images/images-final/recipes/chocolate-mug-cake.jpeg">
                    <img class="recipe-card" src="../images/images-final/recipes/chola-puri.jpeg">
                    <img class="recipe-card" src="../images/images-final/recipes/Chappatie.png">
                    <img class="recipe-card" src="../images/images-final/recipes/wheat-sponge-cake.png">
                    <img class="recipe-card" src="../images/images-final/recipes/whear-halva.png">
                    <img class="recipe-card" src="../images/images-final/recipes/rava-dosa.png">
                    <img class="recipe-card" src="../images/images-final/recipes/kuli-paniyaram.png">  
                </div>    
                <button class="" id="RSbtn">▶</button>  <!-- onclick="scrollRight()"  use this when don't want place js code outside DOM method -->
            </div>
        </div>    
    </div>








</body>
