
<!-- top info label        for understanding try by=> mt-sm-1 mt-md-3 mt-lg-5  -->     
    <div class="container-fluid  d-flex justify-content-between top-info-section">     <!-- mt-sm-1 mt-md-3 mt-lg-5 For testing purpose --> 
        <div class="p-1">
            <span class="ps-2"><i class="fa-regular fa-envelope"></i></span>
            <span class="ps-2 fw-bold">Email Us :</span>
            <span class="ps-2">Admin@gmail.com</span>
        </div>
        <div class="p-1">
            <span class="p-1"><i class="fa-solid fa-phone"></i></span>
            <label class="p-1 fw-bold"><strong>call:</strong><span class="p-1 pe-lg-5 pe-md-5 pe-sm-1">+ 8870480781 </span></label>
            <span class="p-1"><i class="fa-brands fa-instagram"></i></span>
            <span class="p-1"><i class="fa-brands fa-facebook-messenger"></i></span>
            <span class="p-1"><i class="fa-brands fa-square-x-twitter"></i></span>
            <span class="p-1"><i class="fa-brands fa-linkedin"></i></span>
        </div>
    </div>






        <!-- navbar part -->
    <nav class="navbar navbar-dark navbar-expand-lg p-0 m-0 h-auto">
        <div class="container-fluid" style="background-color:#232f3e; z-index: 1; box-shadow: 0px 25px 10px rgb(237, 237, 237);">           <!-- why not working => style="box-shadow: 0px 25px 10px red;" -->
            
            <a class="navbar-brand">
                <img src="../../images/final/logo.png" height="100" width="100">
            </a>            
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapseId">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarcollapseId" style="font-family: cursive; font-size: 20px; font-weight: 500;">   <!-- ".show" class will add from bootstrap js -> "navbar-collapse show" -->
                <ul class="navbar-nav ms-auto" >
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle">Home</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../index.html#section1">Households</a></li>
                            <li><a class="dropdown-item" href="../../index.html#community">Our Community</a></li>
                            <li><a class="dropdown-item" href="../../index.html#our-values">Our Values</a></li>
                            <li><a class="dropdown-item" href="../../index.html#dealer">Dealer Form</a></li>
                            <li><a class="dropdown-item" href="../../index.html#offers">Today Offers</a></li>
                        </ul>                    
                    </li>

                    <li class="nav-item dropdown dropdown-product">
                        <a class="nav-link dropdown-toggle" href="#">
                            Products
                        </a>
                        <ul class="dropdown-menu dropdown-menu-product">
                            <li> <a class="dropdown-item" href="../product.html">Products</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li class="dropdown dropdown-btn">
                                <a class="dropdown-item dropdown-toggle" href="#">Retail Products</a>
                                <ul class="nested-dropdown-menu">
                                    <li><a class="dropdown-item" href="./refinded-wheat-flour.html">Refined Wheat Flour</a></li>
                                    <li><a class="dropdown-item" href="./wheat-flour.html">Wheat Flour</a></li>
                                    <li><a class="dropdown-item" href="./roasted-sooji.html">Roasted Sooji</a></li>
                                    <li><a class="dropdown-item" href="./whole-wheat-flour.html">Whole Wheat Flour</a></li>
                                    <li><a class="dropdown-item" href="./samba-wheat-rava.html">Samba Wheat Rave</a></li>
                                    <li><a class="dropdown-item" href="./roasted-semia.html">Roasted Semia</a></li>
                                    <li><a class="dropdown-item" href="./ragi-semia.html">Ragi Semia</a></li>
                                    <li><a class="dropdown-item" href="./rice-flour.html">Rice Flour</a></li>
                                    <li><a class="dropdown-item" href="./ragi-flour.html">Ragi Flour</a></li>
                                    <li><a class="dropdown-item" href="./kozh-idiy-flour.html">Kozhukattai / Idiyappam Flour</a></li>
                                    <li><a class="dropdown-item" href="./gram-flour.html">Gram Flour</a></li>
                                    <li><a class="dropdown-item" href="./bajji-bonda-powder.html">Bajji Bonda Powder</a></li>
                                    <li><a class="dropdown-item" href="./asafoetida-powder.html">Asafoetida Powder</a></li>
                                    <li><a class="dropdown-item" href="./asafoetida-powder-cake.html">Asafoetida Cake</a></li>
                                </ul>
                            </li>
                            
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-btn">
                                <a class="dropdown-item" href="#">Wholesale Products</a>
                                <ul class="nested-dropdown-menu">
                                    <li><a class="dropdown-item" href="./wholesale/maida.html">Maida</a></li>
                                    <li><a class="dropdown-item" href="./wholesale/atta.html">Atta</a></li>
                                    <li><a class="dropdown-item" href="./wholesale/sooji.html">Sooji</a></li>
                                    <li><a class="dropdown-item" href="./wholesale/bran.html">Bran</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="../gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="../infrastructure.html">Infrastructure</a></li>
                    <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="./views/aboutus.html">About Us</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="../career.html">Career</a></li>
                    <!-- <li class="nav-item"><a class="nav-link">Retail</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" href="./views/market.html">Market Coverage</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="../feedback.html">Feedback</a></li>
                    <li class="nav-item"><a class="nav-link" href="../recipes.html">Recipes</a></li>
                    <!-- <li class="nav-item"><a class="nav-link">Customer Center</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link">English / Tamil -->
                     
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle">More</a>
                        <ul class="dropdown-menu pos-align">
                            <li><a class="dropdown-item" href="../market.html">Market Coverage</a></li>
                            <li><a class="dropdown-item" href="../about.html">About</a></li>
                        </ul>                    
                    </li>

   
                </ul>
            </div>
        </div>
    </nav>

